URxvt*saveLines:         12000
URxvt*foreground:        White
URxvt*background:        Black
URxvt*font:              xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt*boldFont:          xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt*termName:          rxvt-256color
URxvt*scrollBar_right:   true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.perl-ext-common:  default,matcher,resize-font
URxvt.url-launcher:     browser
URxvt.matcher.button:   1
URxvt.colorUL:          #4682B4
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list

URxvt.keysym.C-Tab: \033{
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033}
URxvt.iso14755: false
URxvt.iso14755_52: false
